 
 img
   {
       position: absolute;
       /*box-shadow: 2px 2px 4px black;*/
   }

   #leftside
   {
       position: absolute;
       height: 500px;
       width: 500px;
       /*border: 1px solid red;*/
       margin-left: 5%;
   }
   #rightside
   {
       position: absolute;
       height:500PX; 
       width: 500px;
       left: 500px;
       border-left: 2px solid black;
       margin-left: 15%;
       /*border: 1px solid black;*/
   }

 body
 {
  font-family: cursive;
  text-align: center;
 }